<div class="shadow mb-5 sticky-top bg-white">
  <div class="container-md">
    <nav class="navbar" aria-label="First navbar example">
      <div class="container-fluid d-flex justify-content-start">
        <button class="navbar-toggler border-0 focus-ring focus-ring-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
          <span class="{{icon}} fs-2"></span>
        </button>

        <a class="navbar-brand"><img src="../../../assets/images/bugzfeed.png" alt="" width="170px"></a>

        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2 fw-bold">
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Política de Privacidade</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="opacity-25">
      <hr>
    </div>
    <div class="container-fluid d-flex pb-3">
      <nav class="nav d-flex position-relative overflow-x-scroll fw-bold" style="font-size: 90%;">
        <button class="nav-link text-dark" >✔️ Quiz</button>
        <a target="_blank" class="nav-link text-dark" href="https://noticias.r7.com/tecnologia-e-ciencia/fotos/nostalgia-essas-imagens-resumem-a-tecnologia-dos-anos-90-16062018#/foto/7">💽 CD Bootável</a>
        <a href="https://threadreaderapp.com/thread/1657755496852475906.html" type="button" class="nav-link text-dark">🔞 Código Inapropriado</a>
        <a href="https://www.youtube.com/watch?v=kmU7uX3ZHJc" class="nav-link text-dark">🍽️ Tasty Demais</a>
        <a target="_blank" class="nav-link text-dark" href="https://www.remessaonline.com.br/blog/filmes-sobre-tecnologia/">🎬 Tecnologia e Filmes</a>
        <a target="_blank" class="nav-link text-dark" href="https://in.pinterest.com/programmerbay/programming-memes/">🤣 HAHAHA</a>
        <a target="_blank" class="nav-link text-dark" href="https://open.spotify.com/playlist/4qKrtplub760lUStXE43Vg?si=c87542a287cb4988">🎵 Playlist dev</a>
        <a target="_blank" class="nav-link text-dark" href="#">💩 Bugzshit</a>
      </nav>
      <div class="position-absolute end-0 px-5 me-md-5 gradient">
        <img src="https://res.cloudinary.com/buzzfeed-brasil/image/upload/v1616076942/temporary/BuzzFeed-symbol-YT_ropfjt.png" alt="" width="40">
      </div>
    </div>
  </div>
</div>
