<div class="shadow mb-4">
  <div class="container-md">
    <nav class="navbar" aria-label="First navbar example">
      <div class="container-fluid d-flex justify-content-start">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand"><img src="../../../assets/images/bugzfeed.png" alt="" width="170px"></a>

        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2 fw-bold">
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Política de Privacidade</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="opacity-25">
      <hr>
    </div>
    <div class="container-fluid pb-3">
      <nav class="nav d-flex overflow-x-scroll fw-bold" style="font-size: 90%;">
        <a class="nav-link text-dark" href="#">✔ Quiz</a>
        <a class="nav-link text-dark" href="#">💽 CD Bootável</a>
        <a class="nav-link text-dark" href="#">🚫 Código Inapropriado</a>
        <a class="nav-link text-dark" href="#">🍕 Código Delicioso</a>
        <a class="nav-link text-dark" href="#">🖥️ Tecnologia e Filmes</a>
        <a class="nav-link text-dark" href="#">🛍️ E-commerces</a>
      </nav>
    </div>
  </div>
</div>
