<div class="card border-0 shadow-lg text-center text-white fw-bold mb-3 user-select-none">
  <div class="card-body">
    <div class="bg-danger p-5 mb-3">
      <h1 class="fw-bold">{{question.question}}</h1>
    </div>
    <div class="row g-2">
      <div *ngFor="let option of question.options" class="col-12 col-md-6">
        <button (click)="addChoice(option.alias, question.id)" class="w-100 btn btn-danger">
          <div class="card-body">
            <p class="py-2">{{option.name}}</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
