<div class="card shadow-lg border-0 mb-3">
  <div class="card-body py-4">
    <div class="opacity-50 fw-bold mb-3">
      <span>desenvolvimento • quiz</span>
    </div>
    <h2 class="text-dark fw-bold">Quer saber que tipo de dev você é?<br>Responda essas perguntas e descubra</h2>
    <p class="card-text fw-medium opacity-75">Um quiz assumidamente esteriotipado.</p>
    <div class="row justify-content-start">
      <div class="col-3 col-sm-2 col-lg-1">
        <img src="https://avatars.githubusercontent.com/u/51425339?v=4" alt="" class="rounded-circle" width="50px">
      </div>
      <div class="col">
        <p class="mb-0">Lívia Nascimento</p>
        <small class="opacity-50">{{date}}</small>
      </div>

    </div>
  </div>
</div>
