<div class="card shadow-lg border-0 mb-3">
  <div class="card-body py-4">
    <div class="opacity-50 fw-bold mb-3">
      <span>desenvolvimento • quiz</span>
    </div>
    <h2 class="text-dark fw-bold">Quer saber que tipo de dev você é?<br>Responda essas perguntas e descubra</h2>
    <p class="card-text fw-semibold opacity-50">Um quiz assumidamente esteriotipado.</p>
    <div class="row justify-content-start">
      <div class="col-3 col-sm-2 col-lg-1">
        <img src="https://avatars.githubusercontent.com/u/51425339?v=4" alt="" class="rounded-circle" width="50px">
      </div>
      <div class="col">
        <p class="mb-0">Lívia Nascimento</p>
        <small class="opacity-50">{{date}}</small>
      </div>
      <div class="col text-end me-3">
        <img src="https://res.cloudinary.com/buzzfeed-brasil/image/upload/h_88,q_auto,w_88/v1/tags/badges/lldd61qhwp84rca4oezy.png" alt="" width="44">
      </div>
    </div>
    <div class="row align-items-center mt-4 share">
      <div class="col">
        <span><strong>Compartilhar publicação</strong></span>
      </div>
      <div class="col text-end me-3">
        <a href="http://" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
          <i class="bi bi-linkedin rounded-circle fs-4 text-white" style="background-color: #0a78b5; padding: 8px 10px"></i>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
          <i class="bi bi-github ms-3 rounded-circle fs-4 text-white" style="background-color: #080808; padding: 8px 10px"></i>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
          <i class="bi bi-envelope-fill ms-3 rounded-circle fs-4 text-white" style="background-color: #d64336; padding: 8px 10px"></i>
        </a>
      </div>
    </div>
  </div>
</div>
