@model mvc.Models.Contato

@{
    ViewData["Title"] = "Criar contato";
}
<div class="col-md-6 mx-auto mt-5">
    <div class="d-flex row mb-3 align-items-center">
        <div class="col-5">
            <a asp-action="Index" class="text-decoration-none">
                <i class="bi bi-arrow-bar-left"></i>
                voltar
            </a>
        </div>
        <div class="col-7">
            <h2>Criar novo contato</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 border rounded shadow mx-auto p-5">
        <form asp-action="Criar">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Telefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" type="tel" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary shadow">Criar contato</button>
        </form>
    </div>
</div>
