@model mvc.Models.Contato

@{
    ViewData["Title"] = "Criar contato";
}

<div class="col-md-6 mx-auto mt-5">
    <div class="d-flex row mb-3 align-items-center">
        <div class="col-5">
            <a asp-action="Index" class="text-decoration-none">
                <i class="bi bi-arrow-bar-left"></i>
                voltar
            </a>
        </div>
        <div class="col-7">
            <h2>Deletar contato</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 border rounded shadow mx-auto p-5">
        <div class="card border-0">
            <div class="card-body">
                <div class="row">
                    <dt class="col-sm-4">
                        <dl>
                            @Html.DisplayNameFor(x => x.Nome)
                        </dl>
                    </dt>
                    <dt class="col-sm-6 fw-normal">
                        <dl>
                            @Html.DisplayFor(x => x.Nome)
                        </dl>
                    </dt>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        <dl>
                            @Html.DisplayNameFor(x => x.Telefone)
                        </dl>
                    </dt>
                    <dt class="col-sm-6 fw-normal">
                        <dl>
                            @Html.DisplayFor(x => x.Telefone)
                        </dl>
                    </dt>
                </div>
                <section class="my-3">
                    <p>Você tem certeza que deseja excluir este contato?</p>
                    <p>Essa ação é irreversível.</p>
                </section>
            </div>
            <form asp-action="Excluir">
                <input value="Excluir" type="submit" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
